<div class="contentWrapper profilePageWrapper">
  <h1>User Data for <%= user.name %></h1>
  <a class="logLink" href="/user/logout">Log out</a>
  <table class="columnWrapper">
    <tr class="rowWrapper">
      <th>Name</th>
      <td><%= user.name %></td>
    </tr>
    <tr class="rowWrapper">
      <th>Email</th>
      <td><%= user.email %></td>
    </tr>
    <tr class="rowWrapper">
      <th>Zip Code</th>
      <td><%= user.zipCode %></td>
    </tr>
  </table>
  <% if (user.subscribedAccount) { %>
  <h4 class="center">
    This user has a subscribed account</a
    >.
  </h4>
  <% } %>
  
  
  <div>
    <a href="/user">View all users</a>
  </div>
  <div>
    <a href="<%=`/user/${user._id}/edit`%>">Edit User Details</a>
  </div>
  <div>
    <a href="<%= `/user/${user._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
  </div></div>