<div class="contentWrapper profilePageWrapper">
  <div class="rowWrapper">
    <h1>User Data for <%= user.name %></h1>
    <div>
      <a href="<%=`/user/${user._id}/edit`%>">Edit User Details</a>
    </div>
    <div>
      <a
        href="<%= `/user/${user._id}/delete?_method=DELETE` %>"
        onclick="return confirm('Are you sure you want to delete this record?')"
        >Delete</a
      >
    </div>
    <a class="logLink" href="/user/logout">Log out</a> 
  </div>
    <table class="columnWrapper">
      <tr class="rowWrapper">
        <th>Name</th>
        <td><%= user.name %></td>
      </tr>
      <tr class="rowWrapper">
        <th>Email</th>
        <td><%= user.email %></td>
      </tr>
    </table>
    <h2>Your prompts:</h2>
    <div class="previousPrompts">
     
      <% if (user.prompts.length === 0) { %>
      <div class="no-prompts-found">
        No prompts have been created make your first one! 🦄
      </div>
      <% } else { %> <% user.prompts.forEach(prompt => { %>
      <div class="previousPrompt">
        <div>
          <details>
            <summary><%= prompt.prompt %> 
              <a
                href="<%= `../${prompt.choice.toLowerCase()}/${prompt._id}/delete?_method=DELETE` %>"
                onclick="return confirm('Are you sure you want to delete this record?')"
                >Delete</a
              >
            </summary>
            <p><%= prompt.answer %></p>
          </details>
        </div>
        <div class="prompt-author"><%= user.name %></div> <!-- Assuming user.name is the name of the author -->
        <div class="prompt-date"><%= prompt.createdAt %></div>
        <div class="prompt-delete">
          
        </div>
      </div>
      <% }); %> <% } %>
    </div>
    

   
  </div>
</div>
